<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed class="ion-no-padding">
    <ion-row class="ion-padding-top">
      <ion-col size="auto" class="ion-padding-start">
        <ion-icon name="person-circle" size="large"></ion-icon>
      </ion-col>
      <ion-col size="auto" class="ion-padding-start">
        <ion-text color="blue">
          Perfil do Utilizador
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2.1">
        </ion-col>
        <ion-col size="6">
          <ion-text>
            email@email.com
          </ion-text>
        </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>

    <ion-row class="ion-padding-top">
      <ion-col size="auto" offset="1">
        <ion-icon name="lock-closed"></ion-icon> <ion-text class="ion-padding-start">Alterar palavra-passe</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col size="auto" offset="1">
        <ion-icon name="cart"></ion-icon> <ion-text class="ion-padding-start">Histórico de Compras</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col size="auto" offset="1">
        <ion-icon name="close-circle"></ion-icon> <ion-text class="ion-padding-start">Histórico de devoluções</ion-text>
      </ion-col>
    </ion-row>


    <ion-row class="ion-padding-top">
      <ion-col size="auto" offset="1" (click)="onClick()">
        <ion-icon name="card"></ion-icon>
        <ion-text class="ion-padding-start">Métodos de pagamento</ion-text>
      </ion-col>
    </ion-row>


    <ion-row class="ion-padding-top">
      <ion-col size="auto" offset="1">
        <ion-icon name="home"></ion-icon> <ion-text class="ion-padding-start">Alterar morada predefinida</ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col size="auto" offset="1">
        <ion-icon name="trash"></ion-icon> <ion-text class="ion-padding-start">Eliminar conta</ion-text>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
