<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Computadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-note class="ion-padding-horizontal">Home > Computadores</ion-note>

  <ion-grid fixed>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center" size="4">
        <ion-text >Computadores</ion-text>
      </ion-col>
      <ion-col size="4"><ion-button (click)="filtrar()" expand="block" fill="outline" shape="round" color="blue">
        Filtrar
      </ion-button></ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="block" fill="outline" shape="round" color="blue">
    DESCONTOS EM SMARTPHONES
  </ion-button>

  <ion-button expand="block" fill="outline" shape="round" color="blue">
    NOVIDADES
  </ion-button>

  <ion-grid fixed class="ion-no-padding">

    <ion-row>
      <ion-col size="6" *ngFor="let item of itens | keyvalue">
        <ion-card button (click)="cardClick('show-info', item.key)">
          <ion-img src= "{{item.value.img}}"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>{{item.value.modelo }}</ion-card-subtitle>
            <ion-card-title>{{ item.value.marca }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text>{{ item.value.processador }}</ion-text>
            <br>
            <ion-text>{{ item.value.memoria }}</ion-text>
            <ion-card-content class="ion-text-end">
              <ion-text>
                {{ item.value.preco }}
              </ion-text>
            </ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
