<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-label>{{data.item.marca}} {{data.item.modelo}}</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
        <ion-label>{{ data.item.marca }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Modelo: {{ data.item.modelo }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Processador: {{ data.item.processador }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Memoria RAM: {{ data.item.memoria }}</ion-label>
      </ion-item>
    </ion-list>
    
    <br>
    
    <ion-row class="ion-padding-start">
      <ion-col size="12">
        <ion-text>
      <h3>Comentarios:</h3>
    </ion-text>
      </ion-col>
    </ion-row>
    
    <ion-list>
      <ion-item>
        <ion-label>Utilizador 1: {{data.item.comentario_1}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Utilizador 2: {{data.item.comentario_2}}</ion-label>
      </ion-item>
    </ion-list>

    <ion-col size="4"><ion-button (click)="comparar()" expand="block" fill="outline" shape="round" color="blue">
      Comparar com outro produto
    </ion-button></ion-col>

    <ion-button (click)="onClick(data.key)">
      Adicionar ao Carrinho
    </ion-button>
</ion-content>
