<ion-header>
  <ion-toolbar>
    <ion-title>Registo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="ion-padding-top" class="ion-text-center">
      <ion-col size="12" class="ion-text-center">
       <ion-text class="ion-text-center" class="ion-padding-top">
         <h1>INOVATECH</h1>
       </ion-text>
     </ion-col>
    </ion-row>
  </ion-grid>
 
  <form [formGroup]="RegistoForm" (ngSubmit)="submitForm()" novalidate>
 
   <ion-item lines="full">
     <ion-label position="floating">Email</ion-label>
     <ion-input type="text" formControlName="email" placeholder="Email" required></ion-input>
   </ion-item>
   <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && formControls.email.errors?.required">
     E-mail necessário
   </ion-text>
   <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && formControls.email.errors?.pattern">
     E-mail incorreto
   </ion-text>
 
   <ion-item lines="full">
     <ion-label position="floating">Password</ion-label>
     <ion-input type="password" formControlName="password" laceholder="Password" required></ion-input>
   </ion-item>
   <ion-text class="ion-padding" color="danger" *ngIf="isSubmitted && formControls.email.errors?.required">
     Password necessaria
   </ion-text>
 
   <ion-row>
     <ion-col >
       <ion-button type="submit" color="blue" expand="block">Registar</ion-button>
     </ion-col>
   </ion-row>
 
  </form>

  <ion-row class="ion-text-center">
    <ion-col size="12">
      <ion-text>Já tens uma conta? </ion-text>
      <ion-text color="blue" (click)="onClick()"> Entra aqui</ion-text> 
    </ion-col> 
  </ion-row>
  
  


</ion-content>
