<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Filtrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item>
      <ion-label>Marca</ion-label>
      <ion-select multiple="true" (ionChange)="onChange($event, 'marcas')">
        <ion-select-option value="Asus">Asus</ion-select-option>
        <ion-select-option value="Lenovo">Lenovo</ion-select-option>
        <ion-select-option value="HP">HP</ion-select-option>
        <ion-select-option value="Acer">Acer</ion-select-option>
        <ion-select-option value="DELL">DELL</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Processador</ion-label>
      <ion-select multiple="true" (ionChange)="onChange($event, 'processadores')">
        <ion-select-option value='Intel i3'>i3</ion-select-option>
        <ion-select-option value='Intel i5'>i5</ion-select-option>
        <ion-select-option value='Intel i7'>i7</ion-select-option>
        <ion-select-option>AMD Ryzen 5</ion-select-option>
        <ion-select-option>AMD Ryzen 7</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Memoria RAM</ion-label>
      <ion-select multiple="true">
        <ion-select-option>8 GB</ion-select-option>
        <ion-select-option>16 GB</ion-select-option>
        <ion-select-option>32 GB</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-row>
    <ion-col size="12" class="ion-padding-start">
      <ion-button (click)="onClick()" color="blue">
        Filtrar
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
