<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Métodos de Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let item of metodo">
    <ion-label>Cartão número: {{ item.numCartao}}</ion-label>
    <ion-label>Proprietário: {{ item.nomeProp}}</ion-label>
  </ion-item>

  
  <ion-button color="blue" (click)="onClick()">
    Adicionar novo método
  </ion-button>


</ion-content>
