<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Comparação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>

  <ion-row class="ion-text-center">
    <ion-col size="12">
      <ion-text>
        Escolha os itens que pretende comparar.
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-grid fixed>
    <ion-row class="ion-no-padding">
      
      <ion-col size="6" class="ion-no-padding">
        <ion-card button (click)="onClick()">
          <ion-img [src]="image"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Awesome content
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="6" class="ion-no-padding">
        <ion-card button (click)="onClick()">
          <ion-img [src]="image"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Awesome content
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding">
      
      <ion-col size="6" class="ion-no-padding">
        <ion-card button (click)="onClick()">
          <ion-img [src]="image"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Awesome content
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="6" class="ion-no-padding">
        <ion-card button (click)="onClick()">
          <ion-img [src]="image"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Awesome content
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding">
      
      <ion-col size="6" class="ion-no-padding">
        <ion-card button (click)="onClick()">
          <ion-img [src]="image"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Awesome content
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="6" class="ion-no-padding">
        <ion-card button (click)="onClick()">
          <ion-img [src]="image"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Awesome content
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
