<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Comparação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>

  <ion-row class="ion-text-center">
    <ion-col size="12">
      <ion-text>
        Escolha um produto para comparar
      </ion-text>
    </ion-col>
  </ion-row>

    <ion-row>
      <ion-col size="6" *ngFor="let item of itens | keyvalue">
          <ion-card button (click)="cardClick(item.key)" *ngIf="item.key != id.key">
            <ion-img src="{{item.value.img}}"></ion-img>
            <ion-card-header>
              <ion-card-title>{{ item.value.marca }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-card-content class="ion-text-end">
                <ion-text>
                  {{ item.value.preco }}
                </ion-text>
              </ion-card-content>
            </ion-card-content>
          </ion-card>
      </ion-col>
    </ion-row>

</ion-content>
